.vs/
Api/bin/
MCSS.Admin/bin/
MCSS.Admin/obj/
Api/obj/
MCSS.Api/obj/
MCSS.Api/bin/
MCSS.Data/bin/
MCSS.Data/obj/
MCSS.Entities/bin/
MCSS.Entities/obj/
MCSS.Utillities/obj/
packages/
default/tools/node_modules/
default/tools/yarn.lock
MCSS.Utillities/bin/
MCSS.Web/bin/
MCSS.Web/obj/
MCSS.Web/MCSS.Web.csproj.user
MCSS.Api/MCSS.Api.csproj.user
MCSS.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
